.chat-box {
    width: 350px;
    margin: 50px auto;
    font-family: Arial;
}

#typing-status {
    height: 20px;
    font-size: 13px;
    color: gray;
}

.typing::after {
    content: '...';
    animation: dots 1.2s steps(3, end) infinite;
}

@keyframes dots {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}
body {
    background: white;
    color: black;
    transition: 0.3s;
}

body.dark {
    background: #121212;
    color: white;
}

img {
    border-radius: 50%;
}